body {
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #0071c5;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav {
    display: flex;
    background-color: #0071c5;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #0071c5;
  }
  
  
  
  main {
    padding: 20px;
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .left-column,
  .middle-column,
  .right-column {
    width: calc(33.33% - 20px);
    background-color: white;
    padding: 20px;
    text-align: center;
  }
  
  .middle-column {
    width: calc(66.66% - 40px);
  }
  
  .article-block {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .article-block h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .article-block img {
    width: 25%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .article-block p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }
  
  
  footer {
    background-color: #0071c5;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  